@import "skeleton.less";
@import (inline) "../css/select2.css";

/* Headers */
h1 { font-size: 3.6rem; line-height: 1.25;  letter-spacing: -.1rem;  }
h2 { font-size: 3.0rem; line-height: 1.3; letter-spacing: -.1rem;  }
h3 { font-size: 2.4rem; line-height: 1.35;  letter-spacing: -.08rem;  }
h4 { font-size: 1.8rem; line-height: 1.5; letter-spacing: -.05rem; }
h5 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0;       }


label {
    display: inline-block;
    width: 25%;
    padding-top: 8px;
}

input[type=text] {
    width: 75%;
}
    input[type=text] .labels {
        width: 100%;
    }

select {
    width: 75%;
}

/* Select2 override */
.select2-choices {
    border: 1px solid lighten(@border-color, 8.8%);
    border-radius: @global-radius;
}

.select2-container-multi .select2-choices {
    border: 1px solid lighten(@border-color, 8.8%);
    background: none !important;
}

.select2-container-multi .select2-choices .select2-search-field input {    
    color: @secondary-color !important;
    /*font-family: @font-family;
    line-height: 1.6;
    font-weight: 400;
    padding: 6px 10px;*/   
}

.select2-drop-active {
    border: 1px solid @primary-color;
    border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid @primary-color;
}

.select2-results .select2-highlighted {
    background: @primary-color;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid @primary-color;
}

.select2-container-multi .select2-choices .select2-search-choice {
    margin: 5px 0px 5px 8px;
    line-height: 25px;
}
.select2-container-multi .select2-search-choice-close {
    top: 10px;
}

.color-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.green-color-label {
    background-color: #61BD4F;
    color: white;
}
.yellow-color-label {
    background-color: #F2D600;
    color: white;
}
.orange-color-label {
    background-color: #FFAB4A;
    color: white;
}
.red-color-label {
    background-color: #EB5A46;
    color: white;
}
.purple-color-label {
    background-color: #C377E0;
    color: white;
}
.blue-color-label {
    background-color: #0079BF;
    color: white;
}
.sky-color-label {
    background-color: #00C2E0;
    color: white;
}
.lime-color-label {
    background-color: #51E898;
    color: white;
}
.pink-color-label {
    background-color: #FF80CE;
    color: white;
}
.black-color-label {
    background-color: #4D4D4D;
    color: white;
}
.null-color-label {
}
